[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "KraljicMatrix"]
	path = KraljicMatrix
	url = https://github.com/koalaverse/kraljicmatrix
