[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "KraljicMatrix"]
	path = KraljicMatrix
	url = https://github.com/koalaverse/kraljicmatrix
[submodule "sure"]
	path = sure
	url = https://github.com/koalaverse/sure
[submodule "vip"]
	path = vip
	url = https://github.com/koalaverse/vip
